body {
    margin: 50px;
}


.container{
    margin: 0 auto;
    padding-top: 30px;
    border: 0px solid black;
    width: 50%;
    height: 150px;
    border-radius: 3px;
    background-color: rgba(128, 0, 128, 30%);
    text-align: center;
 }
 
 .button{
    border: 0px;
    background-color: purple;
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
    margin-top: 30px;
 }